platform.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="platform">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="category" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="game" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="publisher"/>
                    <xs:element name="reviews">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="review" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="username"/>
                                <xs:element name="rating">
                                   <xs:simpleType>
                                      <xs:restriction base="xs:integer">
                                       <xs:minInclusive value="0"/>
                                         <xs:maxInclusive value="10"/>
                                      </xs:restriction>
                                  </xs:simpleType>
                                  </xs:element>
                                <xs:element type="xs:string" name="text"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>