platform.dtd

<!DOCTYPE platform
[
<!ELEMENT platform (category*)>
<!ATTLIST category name CDATA #REQUIRED>

<!ELEMENT category (game*)>

<!ELEMENT game (title, publisher, reviews)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT reviews (review*)>

<!ELEMENT review (username, rating, text)>
<!ELEMENT username (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT text (#PCDATA)>
]>